.link-admin{
	text-decoration: none;
	color: #FF686B;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.7vw;
}

.gestion{
	display: block;
	border: 1px dashed #FFA69E;
	width: 40vw;
	text-align: center;
	margin: auto;
	margin-top: 3%;
	padding: 1vw;
}

.gestion:hover{
	border: 1px dashed #FF686B;
}

table{
	width: 80vw;
	/*text-align: center;*/
	margin: auto;

}
td{
	width: 20vw;
	border: 1px solid #FFA69E;
	font-size:1.5vw;
	font-family: verdana;
	padding: 1% 2%;
	text-align: center;
	/*border-collapse: collapse;*/
}
