.gallery{
	padding: .5vw;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: column;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	display: -webkit-box;
	display: flex;
}

#common-gallery{
	font-size:0;
}

.gallery div{
	-webkit-box-flex: auto;
	-ms-flex: auto;
	flex: auto;
	width: 200px;
	height:auto;
	margin: .5vw;
	background: #FF686B;
}

.gallery div img{
	width:100%;
	height:auto;
	display:block;
}

.gallery div img:hover{
	opacity: 0.7;
}

#photos{
	width:100%;
	margin:0;
}

#pagination{
	display:flex;
	align-items: center;
	justify-content: center;
}

.link{
	color:black;
	font-size:1.2vw;
	font-family: verdana;
}
