#camera-and-filters{
	display: flex;
	justify-content: space-around;
}

video{
	width:100%;
	height:auto;
}

#canvas{
	width:100%;
	height:auto;
	display: none;
}

button{
	background-color: #FF686B;
	color:white;
	font-weight: bold;
	font-size:1.5vw;
	font-family: 'Open Sans', sans-serif;
	padding: 5px;
	border:2px solid #EE575A;
	width:30%;
	height: auto;
}

button{
	display: inline;
	margin: 0 auto;
}

#camera{
	width:60%;
}

#buttons{
	display: flex;
	width:100%;
}

#reset{
	display: none;
}

#save{
	display: none;
}

#filters{
	width: 60vw;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

#filters img{
	max-width:10vw;
	max-height:5vh;
}

.hidden_path{
	display:none;
}

#fleche-bas{
	max-width:15%;
	max-height:10%;
}

#fleche-haut{
	max-width:15%;
	max-height:10%;

}

.filter-on-image{
	width:20%;
}

#side{
	display: flex;
	width: 90%;
	margin: auto;
}
